.container.svelte-snarx8{padding:1.5em;max-width:900px;margin:0 auto;font-size:min(4vmin,18px)}.node.svelte-snarx8{margin-bottom:2em;border-left:1px solid var(--palette-1);padding-left:min(1.5em,3vmin)}
