:root {
	--palette-1: #433878;
	--palette-2: #7e60bf;
	--palette-3: #e4b1f0;
	--palette-4: #ffe1ff;
	--background-color: #aaaaaa;
	--text-color: #333333;
	--link-color: #007bff;
	--hover-color: #0056b3;
	--tile-bg: rgba(255, 255, 255, 0.3);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background-color: #1a1a1a;
		--text-color: #ffffff;
		--link-color: #bb86fc;
		--hover-color: #985eff;
		--tile-bg: rgba(0, 0, 0, 0.3);
	}
}

body {
	background-color: var(--background-color);
	background-attachment: fixed;
	color: var(--text-color);
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
}

h2 {
	border-bottom: 2px solid var(--text-color);
	padding-bottom: 0.5rem;
}

ul {
	list-style: none;
	padding: 0;
}

li {
	margin-bottom: 0.5rem;
}

a {
	color: var(--link-color);
	text-decoration: none;
}

a:hover {
	color: var(--hover-color);
	text-decoration: underline;
}

.clickable {
	cursor: pointer;
}
