/* Global Styles */
:root {
	--background-color: #ffffff;
	--text-color: #333333;
	--link-color: #007bff;
	--hover-color: #0056b3;
	--hh-color: #f0f0f0;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background-color: #121212;
		--text-color: #ffffff;
		--link-color: #bb86fc;
		--hover-color: #985eff;
		--hh-color: #f0f0f0;
	}
}

body {
	background-color: var(--background-color);
	color: var(--text-color);
	margin: 0px;
	padding: 0px;
}

h2 {
	border-bottom: 2px solid var(--text-color);
	padding-bottom: 0.5rem;
}

ul {
	list-style: none;
	padding: 0;
}

li {
	margin-bottom: 0.5rem;
}

a {
	color: var(--link-color);
	text-decoration: none;
}

a:hover {
	color: var(--hover-color);
	text-decoration: underline;
}

.clickable {
	cursor: pointer;
}

.clickable:hover {
	background-color: rgba(50, 50, 50, 30%);
}
